@use 'sass:color';

$white: #fcfcfc;
$black: #444444;
$red: #c84558;
$green: #65cb92;
$black-light: color.scale($black, $lightness: 15%);
$black-lighter: color.scale($black, $lightness: 30%);

$primary-color: #2ec0ae;
$bg-color: #65cb92;
$bg-color-gradient-end: #2ec0ae;
$header-bg-color: $white;
$bg-color-light: $white;
$font-light: $white;

$primary-color-light: color.scale($primary-color, $lightness: 30%) !default;
$primary-color-dark: color.scale($primary-color, $lightness: -30%) !default;

$secondary-color: $header-bg-color !default;
$success-color: #65cb92 !default;
$error-color: #c84558 !default;
$link-color: #eeeab5 !default;
