//example for importing custom fonts

$font_path: '@/assets/fonts/';

@font-face {
    font-family: 'Fredoka';
    font-weight: 400;
    src: url($font_path + 'Fredoka-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-weight: 300;
    src: url($font_path + 'Fredoka-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-weight: 500;
    src: url($font_path + 'Fredoka-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-weight: 600;
    src: url($font_path + 'Fredoka-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka';
    font-weight: 700;
    src: url($font_path + 'Fredoka-Bold.ttf') format('truetype');
}

@supports (font-variation-settings: 'wdth' 200) {
    @font-face {
        font-family: 'Fredoka';
        src: url($font_path + 'Fredoka-VariableFont.ttf');
        font-weight: normal;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 400;
    src: url($font_path + 'UbuntuMono-Regular.ttf') format('truetype');
}
