@import '@/scss/_mixins.scss';
@import '@/scss/fonts.scss';
@import '/node_modules/materialize-css/sass/materialize.scss';

@include set-selection-colors(white, blue);

:root {
    /*  font rem units are relative to this size. 
    use @calculate-rem(number) to match photoshop pixel font values 
    */
    font-size: 16px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-page-enter-active,
.fade-page-leave-active {
    transition: opacity 0.3s, transform 0.3s ease-in-out;
}

.fade-page-enter-from {
    opacity: 0;
    transform: translateX(300px);
}
.fade-page-leave-to {
    opacity: 0;
    transform: translateX(-300px);
}

.fade-slow-enter-active,
.fade-slow-leave-active {
    transition: opacity 1.9s;
}

.fade-slow-enter-from,
.fade-slow-leave-to {
    opacity: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

    /* Prevent font scaling in landscape while allowing user zoom */
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#app {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: calculate-rem(42) !important;
}

h2 {
    font-size: calculate-rem(36) !important;
}

.btn {
    background-color: $primary-color !important;
}
